<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="5" />

    <title>Your server is building</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>  </head>
    <style>
      .jumbotron { background-color:  {{ buildtitlecolor }} ; }
    </style>
  <body>
    <div class="container">
      <div class="header">
        <!--<ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>-->
        <h3 class="text-muted"><a href="http://github.com/stevage/saltymill">Saltymill</a></h3>
      </div>

      <div class="jumbotron col-lg-10">
        <h1>{{ buildtitle }}</h1>
        <p class="lead">{{ buildsubtitle }}</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-5">
          <h4>Services</h4>
          <p>Your new server will contain:</p>
          <dl>
            <dt><a href="http://{{grains.fqdn}}/tilemill">http://{{grains.fqdn}}/tilemill</a></dt>
            <dd>TileMill, an excellent map creation studio. We've loaded some OpenStreetMap data, a water polygon shapefile and some fonts to help get you started.</dd>
            <dt><a href="http://{{grains.fqdn}}/osrm">http://{{grains.fqdn}}/osrm</a></dd>
            <dd> OSRM (the Open Source Routing Machine) - a simple map + routing website, using the data you've downloaded.</dd>
          </dl>
          <h4>Configuration</h4>
          <table class="table table-condensed table-striped">
            <tr><td>OSM extract source</td><td><small>{{ pillar.tm_osmsourceurl }}</small></td></tr>
            {% for instance in pillar.tm_osrminstances %}
            <tr><td>OSRM routing profile</td><td><small>{{ instance.name }}, {{instance.profile}}, {{instance.port}}</small></td></tr>
            {% endfor %}
            <tr><td>TileMill sample projects</td><td><small>{{ pillar.tm_projects|join(', ') }}</small></td></tr>
          </table>
        </div>
        <div class="col-lg-5">
          <h4>Progress</h4>
          <pre>{# Dammit, I really want to do this but I don't think it will work {% include 'buildlog.html' %} #}<!-- logend -->
          </pre>
        </div>
      </div>
    </div>
  </body>
</html>
